{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>ListingLogix</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="{% static 'images/logosvg.svg' %}" alt="The ListingLogix Logo" />
        </a>
        {% if user.is_authenticated %}
        <span class="user-greeting">{{ user.username }}</span>
      {% endif %}
    </div>
      </div>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            {% if user.userprofile %}
          <li><a href="{% url 'my-profile' %}">My Profile</a></li>
          <li><a href="{% url 'lists-index' %}">My Listings</a></li>
          <li><a href="{% url 'all-listings' %}">All Listings</a></li>
          <li><a href="{% url 'list-create' %}">Create a Listing</a></li>
          {% endif %}
          <li><a href="/about">About</a></li>
          <li>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>
          {% else %}
          <li><a href="/about">About</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
     <footer class="site-footer" style="font-size: 13px; color: black;">
      <p>
        © 2025 Arash Salehpour 
        <a href="https://github.com/abashwitharash" target="_blank">GitHub</a>
      </p>
    </footer>
  </body>
</html>
