
   main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
  }
  
  main > section {
    width: 100%;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .logo-container {
    max-width: 375px;
  }
  
  .list-container {
    width: 80%;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  
  .login h2 {
    font-size: clamp(2.6rem, 3vw, 3.6rem);
    margin: 10px 0 20px;
  }
  
  .login > p {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 14px 0 0px;
  }
  
  .login label {
    font-size: var(--font-reg);
    margin-bottom: 6px;
  }
  
  .login input {
    font-size: var(--font-l);
    padding: 2px 4px;
  }
  
  .login .btn {
    align-self: flex-end;
    margin-right: 0;
    margin-top: 16px;
  }
  
  .auth-block {
    border: var(--borders);
    padding: 20px;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    width: 80%;
    max-width: 500px;
    background-color: #fffefc;
    margin-top: 20px;
  }
  
  .signup-redirect {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  
  .signup-redirect a {
    font-weight: bold;
    text-decoration: underline;
    color: var(--link-hover-color);
  }
  
  .hero-container {
    width: 100%;
    padding: 40px 20px 20px;
    text-align: center;
  }
  
  .logo-showcase img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
  }
  
  .hero-title {
    font-size: 4.4rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .hero-sub {
    font-size: 2rem;
    color: #444;
    max-width: 500px;
    margin: 0 auto;
  }
  
  @media only screen and (min-width: 768px) {
    main {
      justify-content: space-around;
    }
  
    main > section {
      width: 40%;
    }
  
    .logo-container {
      max-width: 520px;
    }
  
    .auth-block {
      width: 100%;
    }
  }
  